p,li {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  margin: 0;
}

h2,h4 {
  font-family: 'Martian Mono', monospace;
  line-height: 50px;
  letter-spacing: -0.1em;
}

.main{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.text-left{
  width:50vw;
  color: black;
  line-height: 30px;
  font-size: 1.5em;
  text-align: center;
}
.text-right{
  width:40vw;
  color: black;
  line-height: 40px;
  font-size: 2em;
  text-align: center;
  
}
.image{
  width:23vw;
}
.text-inline{
  color: #000000bf;
  line-height: 25px;
  font-size: 2em;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.text{
  color: #8c8c8c;
  line-height: 25px;
  font-size: 1.5em;
}

.text h2{
  color: #ffffff;
  line-height: 25px;
  font-size: 1.2em;
}

.adressLink{
    color:#8c8c8c;
}
ul {  
    list-style-type: none;  
}


.slider {
    position: relative;
}

.slider-img {
  width: 99vw;
  height: 100vh;
  position: absolute;
  animation: fadeout 500ms forwards;
  object-fit: cover;
}

img.active {
    animation: fadein 500ms forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

/*-------------Reset-------------*/
  html {
    scroll-behavior: smooth;
  }
  
  /*-------------Layout-------------*/
  body {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
  }
  
  section {
    height: 100vh;
    width: 99.6vw;
  }
  
  #home {
    background-color: #FB8500;
  }
  
  #about {
    background-color: #FB8500;
    height: 100vh;
  }
  
  #donate {
    background-color: white;
    height: 100vh;
  }
  
  #contact {
    background-color: #FB8500;
  }
 
  #footer {
    background-color: #1c1c1c;
  }
  
  /*-------------Helpers-------------*/
  .skew {
    transform: skew(-20deg);
  }
  
  .un-skew {
    transform: skew(20deg);
  }
  
  /*-------------Nav-------------*/
  #nav-wrapper {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  #nav {
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: "Saira Semi Condensed", sans-serif;
    height: 4em;
    overflow: hidden;
    user-select: none;
  }
  #nav.nav-visible {
    height: 100%;
    overflow: auto;
  }
  
  .nav {
    display: flex;
    height: 4em;
    line-height: 4em;
    flex-grow: 1;
  }
  
  .nav-link,
  .logo {
    padding: 0 1em;
  }
  
  span.gradient {
    background: #990000;
    background: -webkit-linear-gradient(33deg, #990000, #cd0000);
    background: linear-gradient(33deg, #990000, #cd0000);
    padding: 0 1em;
    position: relative;
    right: 1em;
    margin-right: auto;
  }
  span.gradient:hover {
    animation-name: logo-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
  }
  
  h1.logo {
    font-weight: 300;
    font-size: 1.75em;
    line-height: 0.75em;
    color: #fff;
  }
  
  h1.logo {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-link {
    text-transform: uppercase;
    text-align: center;
    border-top: 0.5px solid #ddd;
  }

  
  .right {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .btn-nav {
    color: #990000;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  @media (min-width: 800px) {
    #nav-wrapper {
      overflow: hidden;
    }
  
    #nav {
      overflow: hidden;
      flex-direction: row;
    }
  
    .nav-link {
      border-top: none;
    }
  
    .right {
      overflow: hidden;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      left: 1.5em;
      height: auto;
    }
  
    .btn-nav {
      display: none;
    }
  
    .nav a:link.active, a:visited.active, a:active.active {
      background: #990000;
      background: -webkit-linear-gradient(45deg, #990000, #cd0000);
      background: linear-gradient(45deg, #990000, #cd0000);
      color: #fff;
    }
  
    .nav-link-span {
      transform: skew(20deg);
      display: inline-block;
    }
  
    .nav-link {
      transform: skew(-20deg);
      color: #777;
      text-decoration: none;
    }
    .nav-link:last-child {
      padding-right: 3em;
    }
  
    a:hover.nav-link:not(.active) {
      color: #444;
      background: #ddd;
      background: linear-gradient(45deg, #fff, #ddd);
    }
  }


.title {
  margin-top: 0px;
  margin-left: 30px;
  color: azure;
  font-family:  'Railway', sans-serif;;
}

/* Popup */
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 15px 20px;
  display: block;
  margin: 40px auto 0;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  
}

.modal {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #00000033;
  z-index: 0;
  font-family: 'Oswald', sans-serif;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
}

.modal-content .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  border: none;
}

.message-form {
  width: 50%;
  border: 3px solid rgb(0, 0, 0);
  padding-left: 30px;
  font-family: 'Oswald', sans-serif;
}

.message-form input {
  width: 80%;
  padding: 3px;
  margin: 0px 0;
}

.errorForm {
  color:#cd0000;
  font-weight: bold;
}

.message-form  textarea{
  resize: none;
  width: 80.6%;
  height: 50px;
}

.footer-main{
  font-family: 'Raleway', sans-serif;
  text-align:start;
  font-size: 12px;
}

#donate .donation-modal {
  background-color: #FB8500;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 10px;
}

.send-donation {
  position: absolute;
  background-color: #990000;
  color: white;
  border: none;
  padding: 5px 7px;
  border-radius: 10px;
  font-size: 20px;
  right: 10px;
}

button {
  cursor: pointer;
}

.donation-modal:hover, .btn-modal:hover, .send-donation:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: 1s all;   
}

.donation-paragraph {
  font-size: 22px;
}